{% extends "index.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-body panel-white">
            <div class="row line">
                <div class="col-md-2 text-center v-middle">
                    Image
                </div>
                <div class="col-md-2 text-center v-middle">
                    <a href="{{ filter.username }}">Username</a>
                    <i class="fa fa-caret-{% if sort=='username' and order=='asc' %}up{%else%}down{% endif %}"></i>
                </div>
                <div class="col-md-2 text-center v-middle">
                    <a href="{{ filter.email }}">Email</a>
                    <i class="fa fa-caret-{% if sort=='email' and order=='asc' %}up{%else%}down{% endif %}"></i>
                </div>
                <div class="col-md-2 v-middle">
                    Text
                </div>
                <div class="col-md-2 v-middle">
                    <a href="{{ filter.status }}">Status</a>
                    <i class="fa fa-caret-{% if sort=='status' and order=='asc' %}up{%else%}down{% endif %}"></i>
                </div>
                {% if isAdmin %}
                <div class="col-md-2 v-middle">
                    Actions
                </div>
                {% endif %}
            </div>
            {% if tasks|length > 0 %}
            {% for task in tasks %}
            <div class="row line">
                <div class="col-md-2 text-center v-middle">
                    {% if task.image %}
                    <img src="/assets/img/{{ task.image|e }}" alt="{{ task.username|e }}">
                    {% else %}
                    <img src="/assets/img/no.jpg" alt="{{ task.username|e }}" class="img-thumbnail img">
                    {% endif %}
                </div>
                <div class="col-md-2 text-center v-middle">
                    {{task.id}} {{ task.username|e }}
                </div>
                <div class="col-md-2 text-center v-middle">
                    {{ task.email|e }}
                </div>
                <div class="col-md-2 v-middle">
                    {{ task.text|e('html_attr') }}
                </div>
                <div class="col-md-2 v-middle">
                    <span class="label label-primary">{{ task.status|e('html_attr') }}</span>
                </div>
                {% if isAdmin %}
                <div class="col-md-2 v-middle">
                    <a href="/main/edit/{{ task.id }}" class="btn btn-primary">edit</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        Total: {{ total }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        {{ pagination|raw }}
    </div>
</div>
{% endblock %}