<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/main/create" class="btn btn-success btn-xs">Add task</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if auth == false %}
                    <li><a href="/main/login">Login</a></li>
                {% endif %}
                {% if auth == true %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">{{ user.login }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><a href="/main/logout">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>