{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Create task</div>

                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="/main/post-create"
                          enctype="multipart/form-data">
                        <input type="hidden" name="token" value="{{token}}">
                        <div class="form-group{% if errors.image %} has-error {% endif %}">
                            <label for="image" class="col-md-4 control-label">Image</label>
                            <div class="col-md-6">
                                <img id="img-preview" src="/assets/img/no.jpg" class="img-thumbnail"/>
                                <input id="image" type="file" name="image" value="" accept="image/*">
                                {% if errors.image %}
                                <span class="help-block">
                                        <strong>{{ errors.image }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if errors.username %} has-error {% endif %}">
                            <label for="text" class="col-md-4 control-label">Username</label>
                            <div class="col-md-6">
                                <input id="username" class="form-control" type="text" name="username"
                                       value="{% if old.username %}{{ old.username }}{% endif %}">
                                {% if errors.username %}
                                <span class="help-block">
                                        <strong>{{ errors.username }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if errors.email %} has-error {% endif %}">
                            <label for="text" class="col-md-4 control-label">Email</label>
                            <div class="col-md-6">
                                <input id="email" class="form-control" type="email" name="email"
                                       value="{% if old.email %}{{ old.email }}{% endif %}">
                                {% if errors.email %}
                                <span class="help-block">
                                        <strong>{{ errors.email }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if errors.text %} has-error {% endif %}">
                            <label for="text" class="col-md-4 control-label">Text</label>

                            <div class="col-md-6">
                                <textarea id="text" class="form-control" name="text">{% if old.text %}{{ old.text }}{% endif %}</textarea>
                                {% if errors.text %}
                                <span class="help-block">
                                        <strong>{{ errors.text }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Create
                                </button>
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal">
                                    Preview
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div class="modal-body">
                <div class="row line">
                    <div class="col-md-2 text-center v-middle">
                        {% if old.image %}
                        <img src="{{ old.image|e }}" alt="{{ old.username|e }}">
                        {% else %}
                        <img src="/assets/img/no.jpg" alt="{{ old.username|e }}" class="img-thumbnail img">
                        {% endif %}
                    </div>
                    <div class="col-md-2 text-center v-middle modal-username">
                        {{ old.username|e }}
                    </div>
                    <div class="col-md-2 text-center v-middle modal-email">
                        {{ old.email|e }}
                    </div>
                    <div class="col-md-4 v-middle modal-text">
                        {{ old.text|e('html_attr') }}
                    </div>
                    <div class="col-md-2 v-middle modal-status">
                        <span class="label label-primary">new</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="$('form').submit();">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block script %}
<script>
    $('#modal').on('show.bs.modal', function (e) {
        $('form').find('[name]').each(function () {
            var id = $(this).attr('id'),
                val = $(this).val();
            $('.modal-' + id).text(val);
        });
    });
    $('#image').change(function () {
        var input = $(this)[0];
        if (input.files && input.files[0]) {
            if (input.files[0].type.match('image.*')) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                console.log('not image');
            }
        } else {
            console.log('whoops');
        }
    });
    $('form').bind('reset', function () {
        $('#img-preview').attr('src', 'default-preview.jpg');
    });
</script>
{% endblock %}