{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Update task #{{task.id}}</div>

                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="/main/post-edit/{{task.id}}">
                        <input type="hidden" name="token" value="{{token}}">
                        <div class="form-group">
                            <label for="text" class="col-md-4 control-label">Username</label>
                            <div class="col-md-6">
                                {{task.username}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-md-4 control-label">Email</label>
                            <div class="col-md-6">
                                {{task.email}}
                            </div>
                        </div>
                        <div class="form-group{% if errors.text %} has-error {% endif %}">
                            <label for="text" class="col-md-4 control-label">Text</label>

                            <div class="col-md-6">
                                <textarea id="text" class="form-control" name="text">{% if old.text %}{{ old.text }}{% else %}{{ task.text }}{% endif %}</textarea>

                                {% if errors.text %}
                                <span class="help-block">
                                        <strong>{{ errors.text }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group{% if errors.status %} has-error {% endif %}">
                            <label for="status" class="col-md-4 control-label">Status</label>

                            <div class="col-md-6">
                                <input id="status" type="checkbox" name="status" value="made" {% if task.status == 'made' %} checked {% endif %}> Made
                                {% if errors.status %}
                                <span class="help-block">
                                        <strong>{{ errors.status }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
