<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ token }}">
    <title>{{ title }}</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/d621d58d96.js"></script>
</head>
<body>

{{include('include/topbar.html')}}

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>
<script src="/assets/libs/bootstrap/js/bootstrap.js"></script>
{% block script %}{% endblock %}
</html>
